@model U20240408.EntidadesDeNegocio.PersonaU

@{
    ViewData["Title"] = "Delete";
}

<h1>Eiminar</h1>

<h3>¿Estas seguro de querer eliminar?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusU)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
